.wrapper {
    padding: 16px 20px;
    background-color: #272727;
    border: 2px solid #747474;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.table {
    color: #D2FDFF;
    font-size: 50px;
    font-weight: 600;
}

.max {
    color: #FF652F;
}